body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f0f4f8;
}

header {
  background-color: #222;
  color: #fff;
  padding: 15px;
  text-align: center;
}

nav {
  background-color: #333;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav li {
  margin: 5px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  border-radius: 5px;
}

nav a:hover {
  background-color: #4CAF50;
  transition: 0.3s;
}

main {
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
